.formWrapper {
  background-color: whitesmoke;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
}

.formWrapper input,
.formWrapper textarea {
  border: 2px solid rgb(224, 218, 218);
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.formWrapper input:focus,
.formWrapper textarea:focus {
  border-color: #f97316;
  box-shadow: 0 0 0 0.25rem rgba(249, 115, 22, 0.25);
}

.submitButton {
  padding: 10px 20px;
  background-color: orangered;
  color: white;
  border: solid 1px orangered;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

.submitButton:hover {
  background-color: white;
  color: orangered;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.submitButton:active {
  transform: translateY(1px);
  box-shadow: none;
}

.sunkenDark {
  box-shadow: inset 4px 4px 8px #111, inset -4px -4px 8px #333;
}

@media screen and (max-width: 600px) {
  .formWrapper {
    padding: 1rem;
  }

  .submitButton {
    padding: 5px 10px;
  }
}
