.toastFixed {
  position: fixed !important;
  top: 2rem;
  right: 2rem;
  pointer-events: auto !important;
  /* z-index: 9999 !important; */
}

/* Mobile-friendly override */
@media (max-width: 768px) {
  .toastFixed {
    top: 1rem;
    right: 50%;
    transform: translateX(50%);
    width: 70% !important;
  }
}
